<a href='/'>Back</a>
<hr>
<% cars.map do |car| %>
  <div>
    <a href="<%= car[:link] %>" target="_blank" rel="noopener">
      <%= car[:label].split(' ').map(&:capitalize).join(' ') %>:
    </a>
    <b><%= car[:price] %></b>
  </div>
<% end %>
