.jumbotron
  %h1.display-4 Craigslist's parser
  %p.lead This site is provided for faster search of cars and motos on LA's Craigslist.
  %hr.my-4/
  %p.lead
    %a.btn.btn-primary.btn-lg{href: 'cars', role: "button"} Cars
    %a.btn.btn-primary.btn-lg{href: 'motos', role: "button"} Motos
