!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Parser
  %body
    = yield
    :javascript
      const back = () => window.history.back();
